.cm-s-colorforth.CodeMirror { background: #000000; color: #FFFFFF; }
.cm-s-colorforth .CodeMirror-gutters { background: #000000; border-right: 1px solid #aaa; }
.cm-s-colorforth .CodeMirror-guttermarker { color: #EA4A3A; }
.cm-s-colorforth .CodeMirror-guttermarker-subtle { color: #615dbd; }
.cm-s-colorforth .CodeMirror-linenumber { color: #b5b3e6; }
.cm-s-colorforth .CodeMirror-cursor { border-left: 1px solid white; }

.cm-s-colorforth span.cm-comment     { color: #FFFFFF; }
.cm-s-colorforth span.cm-def         { color: #EA4A3A; font-weight:bold; }
.cm-s-colorforth span.cm-keyword     { color: #EA4A3A; }
.cm-s-colorforth span.cm-builtin     { color: #615dbd; }
.cm-s-colorforth span.cm-variable    { color: #EA4A3A; }
.cm-s-colorforth span.cm-string      { color: #615dbd; }
.cm-s-colorforth span.cm-number      { color: #615dbd; }
.cm-s-colorforth span.cm-atom        { color: #615dbd; }

.cm-s-colorforth span.cm-variable-2  { color: #EEE; }
.cm-s-colorforth span.cm-variable-3, .cm-s-colorforth span.cm-type { color: #DDD; }
.cm-s-colorforth span.cm-property    {}
.cm-s-colorforth span.cm-operator    {}

.cm-s-colorforth span.cm-meta        { color: yellow; }
.cm-s-colorforth span.cm-qualifier   { color: #EA4A3A; }
.cm-s-colorforth span.cm-bracket     { color: #cc7; }
.cm-s-colorforth span.cm-tag         { color: #EA4A3A; }
.cm-s-colorforth span.cm-attribute   { color: #EA4A3A; }
.cm-s-colorforth span.cm-error       { color: #f00; }

.cm-s-colorforth div.CodeMirror-selected { background: #000000; }

.cm-s-colorforth span.cm-compilation { background: rgba(255, 255, 255, 0.12); }

.cm-s-colorforth .CodeMirror-activeline-background { background: #000000; }
