/**
    Name: IntelliJ IDEA darcula theme
    From IntelliJ IDEA by JetBrains
 */

.cm-s-darcula  { font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;}
.cm-s-darcula.CodeMirror { background: #000000; color: #b5b3e6; }

.cm-s-darcula span.cm-meta { color: #EA4A3A; }
.cm-s-darcula span.cm-number { color: #615dbd; }
.cm-s-darcula span.cm-keyword { color: #EA4A3A; line-height: 1em; font-weight: bold; }
.cm-s-darcula span.cm-def { color: #b5b3e6; font-style: italic; }
.cm-s-darcula span.cm-variable { color: #b5b3e6; }
.cm-s-darcula span.cm-variable-2 { color: #b5b3e6; }
.cm-s-darcula span.cm-variable-3 { color: #615dbd; }
.cm-s-darcula span.cm-type { color: #b5b3e6; font-weight: bold; }
.cm-s-darcula span.cm-property { color: #EA4A3A; }
.cm-s-darcula span.cm-operator { color: #b5b3e6; }
.cm-s-darcula span.cm-string { color: #615dbd; }
.cm-s-darcula span.cm-string-2 { color: #615dbd; }
.cm-s-darcula span.cm-comment { color: #615dbd; font-style: italic; }
.cm-s-darcula span.cm-link { color: #EA4A3A; }
.cm-s-darcula span.cm-atom { color: #EA4A3A; }
.cm-s-darcula span.cm-error { color: #EA4A3A; }
.cm-s-darcula span.cm-tag { color: #615dbd; font-weight: bold; font-style: italic; text-decoration: underline; }
.cm-s-darcula span.cm-attribute { color: #615dbd; }
.cm-s-darcula span.cm-qualifier { color: #615dbd; }
.cm-s-darcula span.cm-bracket { color: #b5b3e6; }
.cm-s-darcula span.cm-builtin { color: #EA4A3A; }
.cm-s-darcula span.cm-special { color: #EA4A3A; }
.cm-s-darcula span.cm-matchhighlight { color: #FFFFFF; background-color: rgba(50, 89, 48, .7); font-weight: normal;}
.cm-s-darcula span.cm-searching { color: #FFFFFF; background-color: rgba(61, 115, 59, .7); font-weight: normal;}

.cm-s-darcula .CodeMirror-cursor { border-left: 1px solid #b5b3e6; }
.cm-s-darcula .CodeMirror-activeline-background { background: #000000; }
.cm-s-darcula .CodeMirror-gutters { background: #000000; border-right: 1px solid #000000; }
.cm-s-darcula .CodeMirror-guttermarker { color: #FFFFFF; }
.cm-s-darcula .CodeMirror-guttermarker-subtle { color: #b5b3e6; }
.cm-s-darcula .CodeMirrir-linenumber { color: #615dbd; }
.cm-s-darcula .CodeMirror-matchingbracket { background-color: #615dbd; color: #EA4A3A !important; font-weight: bold; }

.cm-s-darcula div.CodeMirror-selected { background: #615dbd; }

.CodeMirror-hints.darcula {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #b5b3e6;
  background-color: #000000 !important;
}

.CodeMirror-hints.darcula .CodeMirror-hint-active {
  background-color: #615dbd !important;
  color: #b5b3e6 !important;
}
