/* Based on arcticicestudio's Nord theme */
/* https://github.com/arcticicestudio/nord */

.cm-s-nord.CodeMirror { background: #000000; color: #b5b3e6; }
.cm-s-nord div.CodeMirror-selected { background: #615dbd; }
.cm-s-nord .CodeMirror-line::selection, .cm-s-nord .CodeMirror-line > span::selection, .cm-s-nord .CodeMirror-line > span > span::selection { background: #615dbd; }
.cm-s-nord .CodeMirror-line::-moz-selection, .cm-s-nord .CodeMirror-line > span::-moz-selection, .cm-s-nord .CodeMirror-line > span > span::-moz-selection { background: #615dbd; }
.cm-s-nord .CodeMirror-gutters { background: #000000; border-right: 0px; }
.cm-s-nord .CodeMirror-guttermarker { color: #615dbd; }
.cm-s-nord .CodeMirror-guttermarker-subtle { color: #615dbd; }
.cm-s-nord .CodeMirror-linenumber { color: #615dbd; }
.cm-s-nord .CodeMirror-cursor { border-left: 1px solid #FFFFFF; }

.cm-s-nord span.cm-comment { color: #615dbd; }
.cm-s-nord span.cm-atom { color: #b5b3e6; }
.cm-s-nord span.cm-number { color: #b5b3e6; }

.cm-s-nord span.cm-comment.cm-attribute { color: #EA4A3A; }
.cm-s-nord span.cm-comment.cm-def { color: #EA4A3A; }
.cm-s-nord span.cm-comment.cm-tag { color: #EA4A3A; }
.cm-s-nord span.cm-comment.cm-type { color: #615dbd; }

.cm-s-nord span.cm-property, .cm-s-nord span.cm-attribute { color: #b5b3e6; }
.cm-s-nord span.cm-keyword { color: #b5b3e6; }
.cm-s-nord span.cm-builtin { color: #b5b3e6; }
.cm-s-nord span.cm-string { color: #b5b3e6; }

.cm-s-nord span.cm-variable { color: #b5b3e6; }
.cm-s-nord span.cm-variable-2 { color: #b5b3e6; }
.cm-s-nord span.cm-variable-3, .cm-s-nord span.cm-type { color: #b5b3e6; }
.cm-s-nord span.cm-def { color: #b5b3e6; }
.cm-s-nord span.cm-bracket { color: #b5b3e6; }
.cm-s-nord span.cm-tag { color: #EA4A3A; }
.cm-s-nord span.cm-header { color: #b5b3e6; }
.cm-s-nord span.cm-link { color: #b5b3e6; }
.cm-s-nord span.cm-error { background: #EA4A3A; color: #FFFFFF; }

.cm-s-nord .CodeMirror-activeline-background { background: #615dbd; }
.cm-s-nord .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
