/*

    Name:       Tomorrow Night - Bright
    Author:     Chris Kempson

    Port done by Gerard Braad <me@gbraad.nl>

*/

.cm-s-tomorrow-night-bright.CodeMirror { background: #000000; color: #FFFFFF; }
.cm-s-tomorrow-night-bright div.CodeMirror-selected { background: #000000; }
.cm-s-tomorrow-night-bright .CodeMirror-gutters { background: #000000; border-right: 0px; }
.cm-s-tomorrow-night-bright .CodeMirror-guttermarker { color: #EA4A3A; }
.cm-s-tomorrow-night-bright .CodeMirror-guttermarker-subtle { color: #777; }
.cm-s-tomorrow-night-bright .CodeMirror-linenumber { color: #000000; }
.cm-s-tomorrow-night-bright .CodeMirror-cursor { border-left: 1px solid #615dbd; }

.cm-s-tomorrow-night-bright span.cm-comment { color: #EA4A3A; }
.cm-s-tomorrow-night-bright span.cm-atom { color: #615dbd; }
.cm-s-tomorrow-night-bright span.cm-number { color: #615dbd; }

.cm-s-tomorrow-night-bright span.cm-property, .cm-s-tomorrow-night-bright span.cm-attribute { color: #b5b3e6; }
.cm-s-tomorrow-night-bright span.cm-keyword { color: #EA4A3A; }
.cm-s-tomorrow-night-bright span.cm-string { color: #EA4A3A; }

.cm-s-tomorrow-night-bright span.cm-variable { color: #EA4A3A; }
.cm-s-tomorrow-night-bright span.cm-variable-2 { color: #b5b3e6; }
.cm-s-tomorrow-night-bright span.cm-def { color: #EA4A3A; }
.cm-s-tomorrow-night-bright span.cm-bracket { color: #FFFFFF; }
.cm-s-tomorrow-night-bright span.cm-tag { color: #EA4A3A; }
.cm-s-tomorrow-night-bright span.cm-link { color: #615dbd; }
.cm-s-tomorrow-night-bright span.cm-error { background: #EA4A3A; color: #615dbd; }

.cm-s-tomorrow-night-bright .CodeMirror-activeline-background { background: #000000; }
.cm-s-tomorrow-night-bright .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
