/*

    Name:       yoncé
    Author:     Thomas MacLean (http://github.com/thomasmaclean)

    Original yoncé color scheme by Mina Markham (https://github.com/minamarkham)

*/

.cm-s-yonce.CodeMirror { background: #000000; color: #b5b3e6; } /**/
.cm-s-yonce div.CodeMirror-selected { background: rgba(252, 69, 133, 0.478); } /**/
.cm-s-yonce .CodeMirror-selectedtext,
.cm-s-yonce .CodeMirror-selected,
.cm-s-yonce .CodeMirror-line::selection,
.cm-s-yonce .CodeMirror-line > span::selection,
.cm-s-yonce .CodeMirror-line > span > span::selection,
.cm-s-yonce .CodeMirror-line::-moz-selection,
.cm-s-yonce .CodeMirror-line > span::-moz-selection,
.cm-s-yonce .CodeMirror-line > span > span::-moz-selection { background: rgba(252, 67, 132, 0.47); }

.cm-s-yonce.CodeMirror pre { padding-left: 0px; }
.cm-s-yonce .CodeMirror-gutters {background: #000000; border-right: 0px;}
.cm-s-yonce .CodeMirror-linenumber {color: #615dbd;  padding-right: 10px; }
.cm-s-yonce .CodeMirror-activeline .CodeMirror-linenumber.CodeMirror-gutter-elt { background: #000000; color: #EA4A3A; }
.cm-s-yonce .CodeMirror-linenumber { color: #777; }
.cm-s-yonce .CodeMirror-cursor { border-left: 2px solid #EA4A3A; }
.cm-s-yonce .cm-searching { background: rgba(243, 155, 53, .3) !important; outline: 1px solid #EA4A3A; }
.cm-s-yonce .cm-searching.CodeMirror-selectedtext { background: rgba(243, 155, 53, .7) !important; color: white; }

.cm-s-yonce .cm-keyword { color: #615dbd; } /**/
.cm-s-yonce .cm-atom { color: #EA4A3A; }
.cm-s-yonce .cm-number, .cm-s-yonce span.cm-type { color:  #615dbd; } /**/
.cm-s-yonce .cm-def { color: #b5b3e6; }
.cm-s-yonce .cm-property,
.cm-s-yonce span.cm-variable { color: #b5b3e6; font-style: italic; }
.cm-s-yonce span.cm-variable-2 { color: #b5b3e6; font-style: italic; }
.cm-s-yonce span.cm-variable-3 { color: #615dbd; }
.cm-s-yonce .cm-type.cm-def { color: #EA4A3A; font-style: normal; text-decoration: underline; }
.cm-s-yonce .cm-property.cm-def { color: #EA4A3A; font-style: normal; }
.cm-s-yonce .cm-callee { color: #EA4A3A; font-style: normal; }
.cm-s-yonce .cm-operator { color: #EA4A3A; } /**/
.cm-s-yonce .cm-qualifier,
.cm-s-yonce .cm-tag { color: #EA4A3A; }
.cm-s-yonce .cm-tag.cm-bracket { color: #b5b3e6; }
.cm-s-yonce .cm-attribute { color: #615dbd; }
.cm-s-yonce .cm-comment { color:#615dbd; font-style:italic; font-weight:normal; } /**/
.cm-s-yonce .cm-comment.cm-tag { color: #EA4A3A }
.cm-s-yonce .cm-comment.cm-attribute { color: #b5b3e6; }
.cm-s-yonce .cm-string { color:#b5b3e6; } /**/
.cm-s-yonce .cm-string-2 { color:#EA4A3A; } /*?*/
.cm-s-yonce .cm-meta { color: #b5b3e6; background: inherit; }
.cm-s-yonce .cm-builtin { color: #EA4A3A; } /*?*/
.cm-s-yonce .cm-header { color: #b5b3e6; }
.cm-s-yonce .cm-hr { color: #b5b3e6; }
.cm-s-yonce .cm-link { color:#615dbd; font-style:italic; text-decoration:none; } /**/
.cm-s-yonce .cm-error { border-bottom: 1px solid #EA4A3A; }

.cm-s-yonce .CodeMirror-activeline-background { background: #000000; }
.cm-s-yonce .CodeMirror-matchingbracket { outline:1px solid grey; color:#b5b3e6 !important; }
